[cluster]
q = 8
n = 4

[native_query_servers]
enable_erlang_query_server = true

[httpd]
enable_cors = true

[cors]
origins = 172.26.130.183:8000
credentials = false
methods = GET

[httpd]
enable_cors = true

