#mapid { height: 180px; }

.leaflet-container {
  height: calc(100vh - 50px);
  width: 100%;
  padding: 0px;
}


body {
  margin: 0px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}


#chart-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  width: 300px;
  height: 125px;
  background-color: transparent;
}

.info.row{
  border-bottom: 1px solid lightgrey;
}

.table {
  margin: 4px;
}


#hashtagContainer {
  align-items: center;
  align-content: center;
  text-align: center;
}
#hashtag-table {
    margin: 0 auto !important;
}

#page-header{
  background-color: white;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.18);
  height: 60px;
  z-index: 9999;
}
#page-header.row{
  padding: 6px !important;

}

#mapContainer{
  display: flex;
  flex-flow: column;
  height: calc(100vh - 61px);
  padding: 0px;
}

#pageContainer{

  padding: 0px;
}

#tableCol1 {
  min-width: 140px;
}
